.blank {
    min-width: 300px;
    max-width:700px;
    padding: 32px;
    background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
    border: 2px dotted #0083B0;
    margin: auto;
}